/* @tailwind base; */

/* @tailwind utilities; */

th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
